name: Running the examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install && npm install --prefix examples && npm install tsx

      - name: Build the project
        run: npm run build

      - name: Run the example script
        run: ./scripts/run_examples.sh
        env:
          MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
